<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Grocery Shopping</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
<nav class="nav_container">
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/lists">See Current List</a></li>
    <li><a href="/new">Start a New List</a></li>
    <li><a href="/new_item">Add a New Default Item</a></li>
  </ul>
</nav>
<div class="content">
  <%= yield %>
</div>
</body>
</html>
