body {

    background-color: #fff;
    color:  #4198d9;

    font-family: monospace;
    font-size: 1.5em;
}

.nav ul {
    list-style: none;
    padding: 0px;
}

.nav li {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
}


form {
    width: 300px;
    border: 5px solid #4198d9;
    padding: 20px;
}

.item_list {
    margin-top: 20px;
    margin-bottom: 20px;
}
